content/samples/payments.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://www.elastic-payments.com/schema/payment" targetNamespace="http://www.elastic-payments.com/schema/payment" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:include schemaLocation="payment.xsd"/>
	
	<xs:complexType name="payments">
      <xs:sequence>
        <xs:element type="payment" name="payment" minOccurs="0" maxOccurs="unbounded" />    
      </xs:sequence>    
      <xs:attribute type="url" name="self" use="optional" />  
    </xs:complexType>     
    <xs:element name="payments" type="payments"/>    

</xs:schema>
